source https://api.nuget.org/v3/index.json
framework: >= net45

nuget Argu
nuget FParsec
nuget FSharp.Core
nuget Microsoft.CodeAnalysis.CSharp.Workspaces
nuget protobuf-net

nuget FsUnit.xUnit
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true

nuget FAKE
nuget SourceLink.Fake
nuget NuGet.CommandLine