<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Froto.Parser" version="0.0.0.5" allowedVersions="[0.0.0.5]" />
  <package id="Roslyn.Services.CSharp" version="1.2.20906.2" allowedVersions="[1.2.20906.2]" />
  <!--<package id="FParsec" version="0.9.2.0" allowedVersions="[0.9.2.0]" />-->
  <package id="protobuf-net" version="2.0.0.602" allowedVersions="[2.0.0.602]" />
</packages>